<div class="slide">
  <div class="slide__image-container">
    <img class="slide__image" src="images/slide_01.jpg" alt="Slide 1">
    <div class="overlay slide__overlay"></div>
  </div>
  <div class="slide__text-container">
    <p class="heading--4 slide__name"><%= data.name %></p>
    <p class="heading--5 slide__job-title"><%= data.title %></p>
    <p class="slide__description"><%= data.blurb %></p>
  </div>
</div>
