<div class="slide">
  <div class="slide__image-container">
    <img class="slide__image" src="images/slide_0<%= id %>.jpg" alt="Slide <%= id %>">
    <div class="overlay slide__overlay"></div>
  </div>
  <div class="slide__text-container">
    <p class="heading--4 slide__name">Ben Hays</p>
    <p class="slide__description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
  </div>
</div>
