$slide-transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);

@mixin hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.slide {
  position: relative;
  float: left;
  width: 400px;
  margin-right: 0;
  &__image-container {
    position: relative;
  }
  &__image--2 {
    @include hover-image;
  }
  &__image--3 {
    @include hover-image;
  }
  &__text-container {
    position: relative;
    padding: 30px 10px 0;
    transition: $slide-transition;
    transform: translateY(10px);
    opacity: 0;
    color: rgba(0,0,0,0.5);
  }
  &__name {
    margin-bottom: 10px;
    color: $text-dark;
  }
  &__description {
    font-size: 1.6rem;
    color: $text-light;
  }
}
.slide:hover {
  .slide__text-container {
    transform: translateY(0);
    opacity: 1;
  }
}
