$slide-top-padding: 60px;

.slide {
  position: relative;
  float: left;
  width: 400px;
  padding-right: 20px;
  &__image-container {
    position: relative;
    pointer-events: none;
  }
  &__sizer {
    height: 1px;
    padding-bottom: calc(125% + #{$slide-top-padding});
  }
  &__spacer {
    position: relative;
    width: 100%;
    height: $slide-top-padding;
  }
  &__image--2 {
    position: absolute;
    top: $slide-top-padding / 2;
    left: 0;
    opacity: 0;
  }
  &__text-container {
    padding: 30px 10px 0;
    pointer-events: none;
  }
  &__name {
    margin-bottom: 6px;
    color: $text-dark;
  }
  &__job-title {
    font-size: 1.2rem;
    margin-bottom: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-light;
  }
  &__description {
    font-size: 1.6rem;
    color: $text-default;
  }
}
.slide:nth-child(4n + 1) {
  .slide__image-container {
    background-color: #ecd2bb;
  }
}
.slide:nth-child(4n + 2) {
  .slide__image-container {
    background-color: #c2dbe5;
  }
}
.slide:nth-child(4n + 3) {
  .slide__image-container {
    background-color: #f2aaad;
  }
}
.slide:nth-child(4n + 4) {
  .slide__image-container {
    background-color: #d9e0e4;
  }
}
