@mixin hover-image {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.slide {
  position: relative;
  float: left;
  width: 400px;
  margin-right: 20px;
  &__image-container {
    position: relative;
  }
  &__image--2 {
    @include hover-image;
  }
  &__image--3 {
    @include hover-image;
  }
  &__text-container {
    padding: 30px 10px 0;
    opacity: 0;
  }
  &__name {
    margin-bottom: 6px;
    color: $text-dark;
  }
  &__job-title {
    font-size: 1.2rem;
    margin-bottom: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-light;
  }
  &__description {
    font-size: 1.6rem;
    color: $text-default;
  }
}
