// Floats
.pull-left  { float: left; }
.pull-right { float: right; }

// Clearfix
@mixin clearfix {
  display: table;
  content: " ";
  clear: both;
}

@mixin webkit-overflow-scrolling {
  -webkit-overflow-scrolling: touch;
}

// Overflow
.overflow--hidden {
  overflow: hidden;
}

// Appearance
@mixin appearance-none {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

// Visibility
.show { display: block !important; }
.hidden { display: none !important; }
@media (max-width: $xs-max) { .hidden-xs { display: none !important; }}
@media (min-width: $sm-min) and (max-width: $sm-max) { .hidden-sm { display: none !important; }}
@media (min-width: $md-min) and (max-width: $md-max) { .hidden-md { display: none !important; }}
@media (min-width: $lg-min) and (max-width: $lg-max) { .hidden-lg { display: none !important; }}
@media (min-width: $xl-min) { .hidden-xl { display: none !important; }}

@media (max-width: $sm-max) { .hidden-mobile { display: none !important; }}
@media (min-width: $md-min) { .hidden-desktop { display: none !important; }}

// Retina Background Images
@mixin retina-background-image($file, $type) {
  background-image: url($file + '.' + $type);
  @media only screen and (-webkit-min-device-pixel-ratio: 2),
         only screen and (min--moz-device-pixel-ratio: 2),
         only screen and (-o-min-device-pixel-ratio: 2/1),
         only screen and (min-device-pixel-ratio: 2),
         only screen and (min-resolution: 192dpi),
         only screen and (min-resolution: 2dppx) {
    background-image: url($file + '@2x.' + $type);
  }
}
